.main-content {
  margin: auto;
  margin-bottom: 40px;
  width: 80%;
  max-width: 600px;
  text-align: left;
}

.sub-content1 {
  margin: auto;
  margin-bottom: 40px;
  width: 80%;
  max-width: 600px;
  text-align: left;
}
