.popup-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
  cursor: pointer;
  z-index: 99;
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 400px;
  min-height: 200px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: #ffffff;
  z-index: 99;
  text-align: center;
}
